<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pedals_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{955,188}</string>
                <key>spriteSourceSize</key>
                <string>{955,188}</string>
                <key>textureRect</key>
                <string>{{0,0},{955,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pedals_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{938,200}</string>
                <key>spriteSourceSize</key>
                <string>{938,200}</string>
                <key>textureRect</key>
                <string>{{0,188},{938,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pedals_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{993,163}</string>
                <key>spriteSourceSize</key>
                <string>{993,163}</string>
                <key>textureRect</key>
                <string>{{0,388},{993,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pedals.png</string>
            <key>size</key>
            <string>{993,551}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:381729610522a20b1563a327c379a4f9:e378040662b80eb2c1d26fe0fca9fda1:07a21953a0a846b10d24908116533ede$</string>
            <key>textureFileName</key>
            <string>pedals.png</string>
        </dict>
    </dict>
</plist>
