<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>node_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{908,849}</string>
                <key>spriteSourceSize</key>
                <string>{908,849}</string>
                <key>textureRect</key>
                <string>{{1,1027},{908,849}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>node_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{906,827}</string>
                <key>spriteSourceSize</key>
                <string>{906,827}</string>
                <key>textureRect</key>
                <string>{{852,1027},{906,827}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>node_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,1021}</string>
                <key>spriteSourceSize</key>
                <string>{783,1021}</string>
                <key>textureRect</key>
                <string>{{955,1},{783,1021}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>node_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,1021}</string>
                <key>spriteSourceSize</key>
                <string>{620,1021}</string>
                <key>textureRect</key>
                <string>{{1740,1},{620,1021}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>node_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{681,1021}</string>
                <key>spriteSourceSize</key>
                <string>{681,1021}</string>
                <key>textureRect</key>
                <string>{{1681,1024},{681,1021}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>node_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{952,1024}</string>
                <key>spriteSourceSize</key>
                <string>{952,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{952,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>third_view.png</string>
            <key>size</key>
            <string>{2363,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9782a741189c8e835fd5727860e1732e:ec7a77e1c40a4c3cc21c29a1a6233e41:43ac5484518cf54ab8aa79d0380e679e$</string>
            <key>textureFileName</key>
            <string>third_view.png</string>
        </dict>
    </dict>
</plist>
