<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stoneVertical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{699,914}</string>
                <key>spriteSourceSize</key>
                <string>{699,914}</string>
                <key>textureRect</key>
                <string>{{0,0},{699,914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3997,911}</string>
                <key>spriteSourceSize</key>
                <string>{3997,911}</string>
                <key>textureRect</key>
                <string>{{0,914},{3997,911}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lakeMode.png</string>
            <key>size</key>
            <string>{3997,1825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71fd83054af2d3cbe281801d67321f3f:678cd783c3f896c53325c4acc5a83ad9:87118cabcbc30ac0067d0af3746f7eb1$</string>
            <key>textureFileName</key>
            <string>lakeMode.png</string>
        </dict>
    </dict>
</plist>
