<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obstacle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,987}</string>
                <key>spriteSourceSize</key>
                <string>{182,987}</string>
                <key>textureRect</key>
                <string>{{0,0},{182,987}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,1002}</string>
                <key>spriteSourceSize</key>
                <string>{182,1002}</string>
                <key>textureRect</key>
                <string>{{182,0},{182,1002}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,939}</string>
                <key>spriteSourceSize</key>
                <string>{237,939}</string>
                <key>textureRect</key>
                <string>{{364,0},{237,939}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>obstacles.png</string>
            <key>size</key>
            <string>{601,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9923cb010c266ace541d0e6fb83a0f93:4ceef6f61f6ee68e360c83f68b82c437:e239da905bb0b31c60e233c1e2b1bd7a$</string>
            <key>textureFileName</key>
            <string>obstacles.png</string>
        </dict>
    </dict>
</plist>
