<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgLayer3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,503},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgLayer4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,353}</string>
                <key>spriteSourceSize</key>
                <string>{1280,353}</string>
                <key>textureRect</key>
                <string>{{439,150},{1280,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{1530,73},{153,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,77}</string>
                <key>spriteSourceSize</key>
                <string>{153,77}</string>
                <key>textureRect</key>
                <string>{{0,150},{153,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{759,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{1065,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{459,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{765,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{912,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{1218,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{306,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{153,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{1524,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{1371,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{918,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{1377,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{453,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,73}</string>
                <key>spriteSourceSize</key>
                <string>{153,73}</string>
                <key>textureRect</key>
                <string>{{606,0},{153,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{0,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{1071,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{1224,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fly_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,75}</string>
                <key>spriteSourceSize</key>
                <string>{153,75}</string>
                <key>textureRect</key>
                <string>{{612,73},{153,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,30}</string>
                <key>spriteSourceSize</key>
                <string>{29,30}</string>
                <key>textureRect</key>
                <string>{{111,0},{29,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,33}</string>
                <key>textureRect</key>
                <string>{{89,0},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{38,0},{25,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{15,0},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,25}</string>
                <key>spriteSourceSize</key>
                <string>{26,25}</string>
                <key>textureRect</key>
                <string>{{63,0},{26,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{340,0},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{57,55}</string>
                <key>textureRect</key>
                <string>{{396,0},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particleEat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particleWindForce.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,4}</string>
                <key>spriteSourceSize</key>
                <string>{286,4}</string>
                <key>textureRect</key>
                <string>{{153,150},{286,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{300,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{220,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOn0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{180,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOn0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{260,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOn0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{140,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture.png</string>
            <key>size</key>
            <string>{1719,1223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7f7ec86b5fc59072c59f71374626108:979c1462efb817f9733c0b50ef885f1b:ef86396999e18097aad14daa6638d5f9$</string>
            <key>textureFileName</key>
            <string>texture.png</string>
        </dict>
    </dict>
</plist>
