<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diamodPack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{0,797},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,95}</string>
                <key>spriteSourceSize</key>
                <string>{97,95}</string>
                <key>textureRect</key>
                <string>{{178,0},{97,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,120}</string>
                <key>spriteSourceSize</key>
                <string>{121,120}</string>
                <key>textureRect</key>
                <string>{{306,112},{121,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,125}</string>
                <key>spriteSourceSize</key>
                <string>{118,125}</string>
                <key>textureRect</key>
                <string>{{0,233},{118,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,94}</string>
                <key>spriteSourceSize</key>
                <string>{102,94}</string>
                <key>textureRect</key>
                <string>{{356,0},{102,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,121}</string>
                <key>spriteSourceSize</key>
                <string>{108,121}</string>
                <key>textureRect</key>
                <string>{{198,112},{108,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,204}</string>
                <key>spriteSourceSize</key>
                <string>{159,204}</string>
                <key>textureRect</key>
                <string>{{146,585},{159,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,188}</string>
                <key>spriteSourceSize</key>
                <string>{143,188}</string>
                <key>textureRect</key>
                <string>{{276,233},{143,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,138}</string>
                <key>spriteSourceSize</key>
                <string>{158,138}</string>
                <key>textureRect</key>
                <string>{{118,233},{158,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,115}</string>
                <key>spriteSourceSize</key>
                <string>{93,115}</string>
                <key>textureRect</key>
                <string>{{105,112},{93,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,96}</string>
                <key>spriteSourceSize</key>
                <string>{93,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,112}</string>
                <key>spriteSourceSize</key>
                <string>{81,112}</string>
                <key>textureRect</key>
                <string>{{275,0},{81,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{0,112},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,106}</string>
                <key>textureRect</key>
                <string>{{93,0},{85,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,318}</string>
                <key>spriteSourceSize</key>
                <string>{183,318}</string>
                <key>textureRect</key>
                <string>{{198,797},{183,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,266}</string>
                <key>spriteSourceSize</key>
                <string>{448,266}</string>
                <key>textureRect</key>
                <string>{{0,1240},{448,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,164}</string>
                <key>spriteSourceSize</key>
                <string>{172,164}</string>
                <key>textureRect</key>
                <string>{{0,421},{172,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,159}</string>
                <key>spriteSourceSize</key>
                <string>{192,159}</string>
                <key>textureRect</key>
                <string>{{172,421},{192,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,443}</string>
                <key>spriteSourceSize</key>
                <string>{85,443}</string>
                <key>textureRect</key>
                <string>{{381,797},{85,443}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>obstacle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,212}</string>
                <key>spriteSourceSize</key>
                <string>{146,212}</string>
                <key>textureRect</key>
                <string>{{0,585},{146,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createrObj.png</string>
            <key>size</key>
            <string>{466,1506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39b739a6e2d010a0c413a2f06469d772:abc50f3851867483382147e3afc85c57:dc074aa84fb6c991da2cb7f3c60c8b08$</string>
            <key>textureFileName</key>
            <string>createrObj.png</string>
        </dict>
    </dict>
</plist>
