<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stone_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1468,887}</string>
                <key>spriteSourceSize</key>
                <string>{1468,887}</string>
                <key>textureRect</key>
                <string>{{2012,1},{1468,887}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,1017}</string>
                <key>spriteSourceSize</key>
                <string>{443,1017}</string>
                <key>textureRect</key>
                <string>{{955,1},{443,1017}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,1004}</string>
                <key>spriteSourceSize</key>
                <string>{610,1004}</string>
                <key>textureRect</key>
                <string>{{1400,1},{610,1004}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{952,1020}</string>
                <key>spriteSourceSize</key>
                <string>{952,1020}</string>
                <key>textureRect</key>
                <string>{{1,1},{952,1020}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stone_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{587,880}</string>
                <key>spriteSourceSize</key>
                <string>{587,880}</string>
                <key>textureRect</key>
                <string>{{3482,1},{587,880}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stones.png</string>
            <key>size</key>
            <string>{4070,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:048652444f60742c18e7d81d3d9a2bdd:cee0a9631e81545863741e80f55bffd7:e705c3ba29efe846a7dc7384233e52e5$</string>
            <key>textureFileName</key>
            <string>stones.png</string>
        </dict>
    </dict>
</plist>
